body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: lighter;
}

$Theme4: #f0836d;
$Apur: #00c3ff;

hr {
  border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $Theme4, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $Theme4, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $Theme4, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $Theme4, #f0f0f0);
}

.quote {
  font-size: 16px;
  line-height: 27px;

}
.quote_mark {
  height:20px;
  margin-right: 20px;
  margin-left: 10px;
}

.title {
  margin: 4px;
  margin-left:10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bolder;
  color:$Theme4;
  &.left {
    text-align: left;
  }
}
.subtitle {
  margin: 4px;
  text-align: center;
  font-style: italic;
  color:$Theme4;
  font-size: 12px;
  line-height: 12px;
  &.left {
    text-align: left;
  }
}

.subtitle_table {
  font-size: 12px;
  line-height: 12px;
}

.source, .source a {
  font-size: 12px;
  line-height: 27px;
  margin: 4px;
  font-style: italic;
  color: $Theme4;
  text-decoration: overline dotted;
  &:hover {
    color: $Apur;
    cursor: pointer;
  }
}

#creations_entreprises_cle {
  display :inline-flex;
}

.highcharts-axis.highcharts-color-1 {
  fill: #F3D9D4;
	stroke: #F3D9D4;
}

.highcharts-axis.highcharts-color-0 {
  fill: #f0836d;
	stroke: #f0836d;
}

.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}

.highcharts-root {
    margin-top:2em;
}
