// @font-face {
//   font-family: 'roboto';
//   src: url('/fonts/Roboto-Regular.ttf') format("truetype");
// }
//
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//
// @font-face {
//   font-family: 'robotoCondensed';
//   src: url('./fonts/RobotoCondensed-Regular.ttf') format("truetype");
// }

html, body {
  margin:0;
  padding:0;
  color: black;
  width:100%;
  height: 100%;
  font-size: 15px;
  font-family:"Roboto";
  font-weight: light;
}

.icon_quote{
  height:20px;
  margin-right: 10px;
}
.commentaire {

}

#result {
    text-align: right;
    color: gray;
    min-height: 2em;
}
#tableau {
    margin: 0 auto;
    border-collapse: collapse;
    @media (max-width: 576px) {
      display: grid;
    }
    @media (min-width: 576px) {
      display: inline-flex;
    }
}


td, th {
    padding: 3px;
}

thead th {
   &.title {
     border-bottom: 1px dotted silver;}
   &.subtitle {
     border-bottom: 2px solid black;
     &.subtitle_left {
       border-right: 1px dotted silver;
     }
   }
}

th {
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-size: 14px;
}
td {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  &.subtitle_left {
    @media (min-width: 576px) {
      visibility: hidden;
    }
  }
}
.right {
  text-align: right;
      border-bottom: 0.5px solid silver;
}
