@font-face {
  font-family: Roboto;
  src: url('../Roboto/Roboto-Light.ttf') format("truetype");
}
@font-face {
  font-family: Roboto-bold;
  src: url('../Roboto/Roboto-Bold.ttf') format("truetype");
}
@font-face {
  font-family: Roboto-black;
  src: url('../Roboto/Roboto-Black.ttf') format("truetype");
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

$Theme6: #b0a8d3;
$Apur: #00c3ff;

hr {
  border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $Theme6, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $Theme6, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $Theme6, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $Theme6, #f0f0f0);
}

.maintext{
  margin: 0 auto;
  width: 70%;
  margin-top:30px;
	height:1px;
	border-top:1px solid black;
	position:relative;
	margin-bottom:30px;
	}
.subtext{
	width:auto;
	height:auto;
	text-align:center;
	position:absolute;
  top:-10px;
	right:0;
	left:0;
	}
.subtext h2{
	padding:7px 12px;
	background:#ffffff;
	display:inline;
	font-family: Roboto-black;
	font-size:14px;
  color: black;
  -webkit-box-decoration-break: clone;
  box-decoration-break:clone;
  line-height: 20px;
  padding-top:0;
  padding-bottom:0;
  &.color {
    color:$Theme6;
  }
	}

.boxCle {
  margin: 0 auto;
  // @media (min-width: 576px) {
  //   margin-left: 20%;
  //   margin-right: 20%;
  // }
}
.txtCle {
  margin:0;
  text-align: center;
}
.cle {
  text-align: center;
  font-size: 18px;
  color: $Theme6;
  font-family: Roboto-black;
    }
.duoCle {
  margin:10px;
  display:inline-flex;
  div {
    margin:10px;
    }
  }


.quote {
  font-size: 16px;
  line-height: 27px;

}
.quote_mark {
  height:20px;
  margin-right: 20px;
  margin-left: 10px;
}

.title {
  margin: 4px;
  margin-left:10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bolder;
  color:$Theme6;
  &.left {
    text-align: left;
  }
}
.subtitle {
  margin:0;
  margin-bottom:4px;
  font-style: italic;
  font-size: 12px;
  line-height: 12px;
  color: black;
}

.subtitle_table {
  font-size: 12px;
  line-height: 12px;
}
.source {
  margin:0;
  margin-top:1em;
}
.source a {
  font-size: 12px;
  line-height: 27px;
  font-style: italic;
  color: black;
  text-decoration: overline dotted;
  &:hover {
    color: $Apur;
    cursor: pointer;
  }
}

/* Link the series colors to axis colors */

.highcharts-axis.highcharts-color-0 {
	stroke: $Theme6;
}
.highcharts-axis.highcharts-color-1 {
  fill: #38cae9;
	stroke: #38cae9;
}

.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}
