#container {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
#result {
    text-align: right;
    color: gray;
    min-height: 2em;
}

$Theme1: #990041;
$Apur: #00c3ff;


body {
  font-family: "Roboto";
  font-weight: 12px;
}

hr {
  border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $Theme1, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $Theme1, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $Theme1, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $Theme1, #f0f0f0);
}

.quote {
  font-size: 16px;
  line-height: 27px;
}
.quote_mark {
  height:20px;
  margin-right: 20px;
  margin-left: 10px;
}

.title {
  margin: 2px;
  margin-left:10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bolder;
  color:$Theme1;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  line-height: 12px;
}

.subtitle_table {
  font-size: 12px;
  line-height: 12px;
}

.source a {
  font-size: 12px;
  line-height: 27px;
  font-style: italic;
  color: $Theme1;
  text-decoration: overline dotted;
  &:hover {
    color: $Apur;
    cursor: pointer;
  }
}

#tableau {
    margin: 0 auto;
    border-collapse: collapse;
    @media (max-width: 576px) {
      display: grid;
    }
    @media (min-width: 576px) {
      display: inline-flex;
    }
}

td, th {
    padding: 3px;
}

thead th {
   &.title {
     border-bottom: 1px dotted silver;}
   &.subtitle {
     border-bottom: 2px solid black;
     &.subtitle_left {
       border-right: 1px dotted silver;
     }
   }
}

th {
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-size: 14px;
}
td {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  &.subtitle_left {
    @media (min-width: 576px) {
      visibility: hidden;
    }
  }
}
.right {
  text-align: right;
      border-bottom: 0.5px solid silver;
}
