#container {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
#result {
    text-align: right;
    color: gray;
    min-height: 2em;
}


$Theme1: #990041;
body {
  font-family: "Roboto";
}

.quote {
  font-size: 16px;
}
.quote_mark {
  height:20px;
  margin-right: 20px;
  margin-left: 10px;
}

.title {
  margin: 2px;
  text-align: center;
  color : $Theme1;
}
.subtitle {
  margin: 2px;
  text-align: center;
  color : $Theme1;
  font-style: italic;
  font-size: 12px;
}

#tableau {
    margin: 0 auto;
    border-collapse: collapse;
    @media (max-width: 576px) {
      display: grid;
    }
    @media (min-width: 576px) {
      display: inline-flex;
    }
}

td, th {
    padding: 3px;
}

thead th {
   &.title {
     border-bottom: 1px dotted silver;}
   &.subtitle {
     border-bottom: 2px solid black;
     &.subtitle_left {
       border-right: 1px dotted silver;
     }
   }
}

th {
    font-weight: bold;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-size: 14px;
}
td {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  &.subtitle_left {
    @media (min-width: 576px) {
      visibility: hidden;
    }
  }
}
.right {
  text-align: right;
      border-bottom: 0.5px solid silver;
}
