body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: lighter;
}

$Theme3: #3D71EA;
$Apur: #00c3ff;

hr {
  border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $Theme3, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $Theme3, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $Theme3, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $Theme3, #f0f0f0);
}

.quote {
  font-size: 16px;
  line-height: 27px;

}
.quote_mark {
  height:20px;
  margin-right: 20px;
  margin-left: 10px;
}

.title {
  margin: 4px;
  margin-left:10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bolder;
  color:$Theme3;
  &.left {
    text-align: left;
  }
}
.subtitle {
  margin: 4px;
  text-align: center;
  font-style: italic;
  color:$Theme3;
  font-size: 12px;
  line-height: 12px;
  &.left {
    text-align: left;
  }
}

.subtitle_table {
  font-size: 12px;
  line-height: 12px;
}

.source, .source a {
  font-size: 12px;
  line-height: 27px;
  margin: 4px;
  font-style: italic;
  color: $Theme3;
  text-decoration: overline dotted;
  &:hover {
    color: $Apur;
    cursor: pointer;
  }
}
#graphique {
  display: grid;
  // @media (max-width: 576px) {
  //   display: grid;
  // }
  // @media (min-width: 576px) {
  //   display: inline-flex;
  // }
}

.map_title {
  min-height:50px;
  text-align: center;
  padding: 5px;
}

.highcharts-zoom-out, .highcharts-zoom-in {
  display:none ;
}
